<footer class='footer text-center'>
  <div class="row">
    <div class='col-xs-7'>
      <div class='row'  style='margin-top:5vw'>
        <div class='col-xs-2'>
          <img src = 'https://i.imgur.com/JnwX57W.png'  style='width:10vw;margin-top:-1.5vw'>
        </div>
        <div class='col-xs-2'>
          <a href='#'><span class='footer-link'>Home</span></a>
        </div>
        <div class='col-xs-2'>
          <a href='#'><span class='footer-link'>About</span></a>
        </div>
        <div class='col-xs-2'>
          <a href='#'><span class='footer-link'>Services</span></a>
        </div>
        <div class='col-xs-2'>
          <a href='#'><span class='footer-link'>WholeSale</span></a>
        </div>
        <div class='col-xs-2'>
          <a href='#'><span class='footer-link'>Contact Us</span></a>
        </div>
      </div>
    </div>
    <div class='col-xs-4'  style='margin:4vw 0vw 0vw 8vw'>
      <img src='https://i.imgur.com/isJoPFI.png' style='width:50%'>
    </div>
  </div>
  <hr>
  <span class='footer-words'>All content 2018 C360. All Rights Reserved</span><br>
  <a href="#"><span class='footer-words' style='text-decoration:underline'>Privacy Policy</span></a>
  <a href="#"><span class='footer-words' style='text-decoration:underline'>Terms of User</span></a>
</footer>
