<div class='contact text-center'>
  <div class="row" >
    <div class='col-md-4' style='margin-top:2vw'>
      <span class='contact-header'>Customer Support </span><br>
      <span class='contact-info'>9:00 AM - 5:00 PM</span><br>
      <span class='contact-info'>Monday - Friday</span><br>
      <span class='contact-info'>(555) 555-5555</span><br>
    </div>
    <div class='col-md-4' style='margin-top:2vw'>
      <span class='contact-header'>Company Address</span><br>
      <span class='contact-info'>1234 Fake St</span><br>
      <span class='contact-info'>Denver, CO 98765</span><br>
    </div>
    <div class='col-md-4' style='margin-top:2vw'>
      <span class='contact-header'>Contact Us</span><br>
      <span class='contact-info'>adam@c360.com</span><br>
      <span class='contact-info'>jesse@c360.com</span><br><br>
      <img src='https://i.imgur.com/isJoPFI.png' style='width:50%'>
    </div>
  </div>
</div>
