<span id='about-header'>ABOUT C360</span>
<div class="parallax"></div>

<div id='about_para' class='text-center'>
  <div class='word-box'>
    <span id='about_sentance'>C360 is a full-service sales force for buyers and sellers of CBD Oil. We provide licensed cultivators, dispensaries, and processors with the connections they need to expand their network and grow their business.</span><br><br>
    <span id='about_sentance'>Our account managers travel statewide searching for Colorado’s premier cannabis suppliers and retailers.  We carefully choose which licensed facilities we will represent and sign contracts with our handpicked suppliers.  This allows us to secure better pricing and those savings get passed on the wholesale buyer.</span><br><br>
    <span id='about_sentance'>We are committed to meeting every client’s needs, no matter how remote their location or the size of their inventory.  With offices in both Denver and Crested Butte, our transportation specialists can distribute products efficiently to anywhere in Colorado.</span><br><br>
  </div>
</div>

<div id='about-team-box'>
  <span class='text-center center' id='team-header'>MEET THE TEAM</span>
  <div class='row about-row'>
    <div class='col-xs-4'>
      <img class='team-pic' src="https://i.imgur.com/j5v8TRk.jpg" alt="profile pic">
    </div>
    <div class='col-xs-1'>
    </div>
    <div class='col-xs-7 about-box'>
      <span class='team-header-text'>Jesse</span><br>
      <span class='team-text'>This is the greatest person to ever walk on earth. He slays all that goes before him. </span><br>
      <span class='team-text'> Beware when he cometh..</span><br>
      <span class='team-text'>Men fear him. women love him. dogs obey him.</span><br>
      <span class='team-text'>He can do it all. He has won 19 Olympic gold medals</span><br>
    </div>
  </div>
  <br>
  <div class='row about-row'>
    <div class='col-xs-7 about-box'>
      <span class='team-header-text'>Adam</span><br>
      <span class='team-text'>Dont let him talk to your children or pets</span><br>
      <span class='team-text'> He drinks hot dog water</span><br>
      <span class='team-text'>He is banned from all 7-11s</span><br>
      <span class='team-text'>If Adam comes to your house, he will eat all of your Jelly</span><br>
    </div>
    <div class='col-xs-1'>
    </div>
    <div class='col-xs-4 text-right'>
      <img class='team-pic' src="https://i.imgur.com/FucrBVN.png" alt="profile pic">
    </div>
  </div>
</div>
<!-- <div class="parallax2"></div> -->

<style>
.parallax {
    /* The image used */
    background-image: url("https://i.imgur.com/RAqrWSz.jpg");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:-10%;
}
.parallax2 {
    /* The image used */
    background-image: url("https://i.imgur.com/nVE2mdY.jpg");
    /* Set a specific height */
    height: 1000px;
    margin-top: -12vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
