
<div id='construction-background'>
  <div class='coming text-center foo'>
    <span class="letter" data-letter="COMING">COMING</span>
    <span class="letter" data-letter="SOON">SOON</span>
    <span class="letter" data-letter="...">...</span>
  </div>
  <div class='row'>
    <div class='col-md-3'>
    </div>
    <div class='col-md-9'>
      <div style='margin-left:50px'>
        <label for='user-email'>Recieve Email upon launch</label>
        <div class="input-group" style='width:50%'>
          <input type="email" id='user-email' type="text" class="form-control" placeholder="Enter email here">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Send</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
