<div class='container'>
  <h1 class='text-center'>Diagrams to help you get started !</h1><br><br>
  <div class='row'>
    <div class='col-md-6'>
      <%= image_tag('ProfileFlow.png',:id =>"nav_prof_pic") %>
    </div>
    <div class='col-md-6'>
      <%= image_tag('flowChart.png',:id =>"nav_prof_pic") %>
    </div>
  </div>
</div>
