<div id='service-header'>
<span id='service-title'>Services</span>
</div>

<div id='service-intro' class='text-center'>
  <span>C360 is the leading wholesale CBD oil distribution company providing the highest standard
     of customer service in the wholesale marketplace. Whether you are buying or selling cannabis products,
     We are here to take the stress out of your wholesale transaction.</span>
</div>

<div class='services row'>
  <div class='col-xs-4' style='padding:25px;background-color:#7b80d8'>
    <span class='service-header' >Buyers</span>
    <img src='https://i.imgur.com/4Mf3O9O.png' class='service-picto'><br>
    <div class='service-blurb'>small paragraph explaining what this is again even though it on the the home page.</div>
    <ul style="list-style: none;">
      <li class='service-point'>Bullet point with more info</li>
      <li class='service-point'>Bullet point with more info</li>
      <li class='service-point'>Bullet point with more info</li>
    </ul>
  </div>
  <div class='col-xs-4' style='padding:25px;background-color:#589ddc'>
    <span class='service-header'>Suppliers</span>
    <img src='https://i.imgur.com/JZDPmxS.png' class='service-picto'><br>
    <div class='service-blurb'>small paragraph explaining what this is again even though it on the the home page.</div>
    <ul style="list-style: none;">
      <li class='service-point'>Bullet point with more info</li>
      <li class='service-point'>Bullet point with more info</li>
      <li class='service-point'>Bullet point with more info</li>
    </ul>
  </div>
  <div class='col-xs-4' style='padding:25px;background-color:#7e82b7'>
    <span class='service-header'>MarketPlace</span>
    <img src='https://i.imgur.com/c5UGthu.png' class='service-picto'><br>
    <div class='service-blurb'>small paragraph explaining what this is again even though it on the the home page.</div>
    <ul style="list-style: none;">
      <li class='service-point'>Bullet point with more info</li>
      <li class='service-point'>Bullet point with more info</li>
      <li class='service-point'>Bullet point with more info</li>
    </ul>
  </div>
</div>

<div class='bottom-box'>
  <div class='row'>
    <div class='col-sm-9'>
      <div style='margin-top:-2vw'>
        <h2 >Contact Us</h2>
        <br><br>
        <label for='user-name'>Name</label>
        <div class="input-group" style='width:80%'>
          <input type="email" id='user-name' type="text" class="form-control" placeholder="John Smith">
        </div>
        <br>
        <label for='user-company'>Company</label>
        <div class="input-group" style='width:80%'>
          <input type="email" id='user-company' type="text" class="form-control" placeholder="CBD supplier Co.">
        </div>
        <br>
        <label for='user-phone'>Phone</label>
        <div class="input-group" style='width:80%'>
          <input type="email" id='user-phone' type="text" class="form-control" placeholder="555 123 4567">
        </div>
        <br>
        <label for='user-email'>Email</label>
        <div class="input-group" style='width:80%'>
          <input type="email" id='user-email' type="text" class="form-control" placeholder="JohnSmith@gmail.com">
          <span class="input-group-btn">
            <button class="btn btn-secondary" id='email-btn' type="button">Send</button>
          </span>
        </div>
        <span id='thank-you' hidden>Thank you, you will recieve an email shortly</span>
      </div>
    </div>
    <div class='col-sm-3'>
    </div>
  </div>
</div>
