<div id='service-header'>
<span id='service-title'>Services</span>
</div>

<div id='service-intro' class='text-center'>
  <span>C360 is the leading wholesale CBD oil distribution company providing the highest standard
     of customer service in the wholesale marketplace. Whether you are buying or selling cannabis products,
     We are here to take the stress out of your wholesale transaction.</span>
</div>

<div class='services row'>
  <div class='col-md-4'>
    <span class='service-header'>Suppliers</span>
    <img src='https://i.imgur.com/JZDPmxS.png' class='service-picto'><br>
    <span class='service-blurb'>small paragraph explaining what this is again even though it on the the home page.</span>
    <span class='service-blurb'>small paragraph explaining what this is again even though it on the the home page.</span>
    <ul>
      <li class='service-point'>Bullet point with more info</li>
      <li class='service-point'>Bullet point with more info</li>
      <li class='service-point'>Bullet point with more info</li>
    </ul>
  </div>
  <div class='col-md-4'>
    <span class='service-header'>Buyers</span>
    <img src='https://i.imgur.com/4Mf3O9O.png' class='service-picto'><br>
    <span class='service-blurb'>small paragraph explaining what this is again even though it on the the home page.</span>
    <span class='service-blurb'>small paragraph explaining what this is again even though it on the the home page.</span>
    <ul>
      <li class='service-point'>Bullet point with more info</li>
      <li class='service-point'>Bullet point with more info</li>
      <li class='service-point'>Bullet point with more info</li>
    </ul>
  </div>
  <div class='col-md-4'>
    <span class='service-header'>MarketPlace</span>
    <img src='https://i.imgur.com/c5UGthu.png' class='service-picto'><br>
    <span class='service-blurb'>small paragraph explaining what this is again even though it on the the home page.</span>
    <span class='service-blurb'>small paragraph explaining what this is again even though it on the the home page.</span>
    <ul>
      <li class='service-point'>Bullet point with more info</li>
      <li class='service-point'>Bullet point with more info</li>
      <li class='service-point'>Bullet point with more info</li>
    </ul>
  </div>
</div>
