/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 *= require jquery-ui
 *= require c3
 *= require flipclock
 *= require slick
 *= require bootstrap-tabs-x.min
 *= require animate

 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 html,body
 {
     width: 100%;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;
 }
 .plain-link{
   color:black !important
 }
a.plain-link:active{
  background-color:#ffd333 !important;
}
.plain-link a{
  text-decoration: none!important;

}
a.plain-link:hover{
  text-decoration: none!important;
}
 .tabs-krajee{
   margin-top:20vh;
 }
 .col-centered{
   float: none;
   margin: 0 auto;
 }
 .login-section{
   width:70%;
   background-image: asset-data-url('pineapple-face.jpg');
   background-size: contain;
   background-repeat: no-repeat;
   background-position: 160% 0%;
 }
 .login-div{
   margin-top:-2vw;
 }

 .wrapper {
    display: flex;
    align-items: stretch;
 }
 // .item-box{
 //   border-radius:10px;
 //   border:1px solid lightgray;
 // }
 #prof-pic{
   position: absolute;
   margin-left:90%;
   margin-top:3%;
   z-index:1000;
   color:red;
 }
 .order-box{
   border:1px solid darkgray;
   padding:1vw;
   margin:1vw;
 }
 .order-header{
   background-color: lightgray;
   // border:1px solid darkgray;
   margin: -1vw -1vw 1vw -1vw;
 }
 .user-review-profile{
   margin:10vw;
 }
 .prof-box-slim{
   background-color:#506dc5;
   border-radius:20px;
   height:12vw;
   margin:-3vw 0vw -7vw 0vw;
 }
 .prof-box{
   background-color:#506dc5;
   border-radius:20px;
   padding:20px;
 }
 .product-items{
   display:inline-block;
   width:32%;
   border:1px solid lightgray;
   padding:20px;
  border-radius:20px;
 }
#edit-user-pencil{
  color:lightgray;
  float:right;
}
#edit-user-pencil:active{
  background-color:transparent;
  text-shadow: 1px 1px darkgray;
}
 #prof-carrot{
   font-size: 40px;
   // margin-right:10px;
 }
//  .rating-stars {
//    unicode-bidi: bidi-override;
//    direction: rtl;
//    float:left;
//  }
//  .rating-stars > span:hover:before,
//  .rating-stars > span:hover ~ span:before {
//     content: "\2605";
//     position: absolute;
//  }
//  .rating-stars > span {
//   display: inline-block;
//   position: relative;
//   width: 1.1em;
// }
.rating-starz {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating-starz:not(:checked) > input {
    // position:absolute;
    // top:-9999px;
    clip:rect(0,0,0,0);
}

.rating-starz:not(:checked) > label {
    float:right;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating-starz:not(:checked) > label:before {
    content: ' ★ ';
}

.rating-starz > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating-starz:not(:checked) > label:hover,
.rating-starz:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating-starz > input:checked + label:hover,
.rating-starz > input:checked + label:hover ~ label,
.rating-starz > input:checked ~ label:hover,
.rating-starz > input:checked ~ label:hover ~ label,
.rating-starz > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating-starz > label:active {
    position:relative;
    top:2px;
    left:2px;
}
 .nav_prof_pic{
   border-radius:50%;
   height:5vw;
   width:5vw;
 }
 .not_nav_prof_pic{
   border-radius:50%;
   height:5vw;
   width:5vw;
 }
 #proflink{
   margin-top: 1vw;
   color:#2e9cca !important;
 }
 .prof-links{
   color:#2e9cca !important;
   font-size: 1.5vw !important;
 }
 .prof-links:hover{
   text-decoration: none!important;
   text-shadow: 1px 1px #fff;
 }
 .prof-links:active{
   background-color: transparent;
 }
 .sidebar-links:hover{
   text-decoration: none!important;
   text-shadow: .5px .5px #2e9cca;
 }
 #sidebarCollapse{
   position:fixed;
   z-index:100 !important;
   margin:40px;
   background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color:#2e9cca;
  font-size:4vw;
 }
 #sidebar {
     min-width: 250px;
     max-width: 250px;
     min-height: 50vh;
 }
#sidebar.active {
    margin-left: -250px;
}
#dismiss{
  z-index:1;
  margin:1vw 0vw 0vw 200px;;
  font-size:25px;
  position:fixed;
}
a[data-toggle="collapse"] {
    position: relative;
}
.component{
  font-size: 25px;
  margin:20px;
}
.comp{
  font-size: 18px;
  margin:15px;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    float:right;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
    margin:.8vw;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
.glyphicon-star{
  text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
  color:gold
}
.glyphicon-star-empty{
  // text-shadow: 0px 0 black, 0 0px black;
  color:gold
}
#market-logo{
  width:40%;
}
 .gray-border{
   background-color:lightgray;
   position: relative;
   display:block;
   margin-top: 20vw;
 }
 .top-gray-border{
   background-color:lightgray;
   position: relative;
   display:block;
   height:25vw;
 }
 #item-banner{
   font-size:1.5vw;
   font-family:"Lato", Arial, Helvetica, Verdana, sans-serif;
   color:#111416;
   padding:1.1vw;
   text-align: center;
   margin-bottom: -2vw;
 }

 .card {
  color: black;
  margin: -15px;
}
.edit-card{
  color: black;
  padding:10px;
  border: 2px solid lightgray;
  border-radius: 15px;
}
.edit-row{
  margin:10vw 3vw 0vw 3vw;
}
.edit-order{
  margin:5vw;
}
.all-edit{
}
.clock{
  zoom:45%;
  margin:2vw 0vw 2vw 0vw;
}
#clock{
  zoom:45%;
}
#small-clock{
  zoom:35%;
}

.bulk_order_link{
font: bold 11px Arial;
background-color: Transparent;
 background-repeat:no-repeat;
 border: none;
 cursor:pointer;
 overflow: hidden;
 outline:none;
 border-radius: 15px;
padding: 5px 6px 5px 6px;
border-top: 1px solid #CCCCCC;
border-right: 1px solid #333333;
border-bottom: 1px solid #333333;
border-left: 1px solid #CCCCCC;
width:90%;
font-size: 1.3vw;
}
.bulk_order_link:hover {
  background: #3cb0fd;
  background-color: lightgray;
  text-decoration: none;
}
.bulk_order_link a:hover {
  background: #3cb0fd;
  background-color: lightgray;
  text-decoration: none;
  color:#4a86c3;
}

  .center{
  display: block;
  padding-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#item_header{
  z-index: -1;
  position: fixed;
  vertical-align: middle;
  color:lightgray;
  margin-left: 19vw;
}
#item_bottom_header{
  z-index: -1;
  position: fixed;
  vertical-align: middle;
  color:lightgray;
  margin-left: 19vw;
  margin-top: 6vw;
}
.oil-image{
  margin-left:1vw;
}
.c3-chart-arcs-title{
  font-size: 15px;
}
.pie{
  margin: 12vw;
}


.signup-form{
  margin:1vw
}

.navbar_link{
  width: 100%;
  margin: 0 auto;
}
.navbar_link a:hover,a:active,a:visited
{
  text-decoration: none;
  color: #4a86c3;
  background-color:#f8f8f8;
}
.nav-link{
  margin-top:5vh;
  font-size: 1.5vw;
}
.nav-link a{
  color:#fff;
}
.nav-link a:hover{
  background-color: #516fbf;
  color:#fff;
  padding-bottom: 1vh;
  border-bottom: 2px solid white;
}
#header-logo{
  width:40%;
  position:absolute;
  display: inline-block;
  z-index: 1
}
#myCarousel {
  margin:0;
}
.main-carousel-pic{
  width:100%;
  height:50vw !important;
}
.item{
  width:100%;
}
.caption-animate .item {
  &.active .carousel-caption {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    &.infinite {
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
    }
    &.hinge {
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
    }
    &.flipOutX, &.flipOutY, &.bounceIn, &.bounceOut {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
    }
  }
  .carousel-caption {
    &.fadeIn, &.fadeInDown, &.fadeInDownBig, &.fadeInLeft, &.fadeInLeftBig, &.fadeInRight, &.fadeInRightBig, &.fadeInUp, &.fadeInUpBig {
      opacity: 0;
    }
  }
}
.carousel-text{
  padding:1vw;
  font-size: 2.5vw;
  padding:1vw;
  position:relative;
  background: transparent;
  font-family: 'Lato';
  letter-spacing: 0.06em;
  top:-14vw;
}
.carousel-text2{
  position:relative;
  padding:1vw;
  font-size: 2.5vw;
  background: transparent;
  font-family: 'Lato';
  letter-spacing: 0.06em;
  top:-8vw;
  right:-15vw;
}
.carousel-btn{
  font-family: 'Lato';
  letter-spacing: 0.06em;
  color:#111416;
  background:#ffd333;
  border:none;
  padding:1vw;
  margin:2vw;
  font-size: 1.5vw;

}
.delay1{
  animation-delay: .5s;
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -o-animation-delay: .5s;
  -moz-transition: none !important;
}
.delay2{
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -moz-transition: none !important;
}

.tagline{
  height:20vw;
  margin-right:2vw;
}
#motto{
  font-family: 'Roboto';
  font-size:2.5vw;
}
.motto-link{
  font-family: 'Roboto';
  font-size:2vw;
  margin-top:3vw;
}

#tag_words{
  font-family:"Lato", Arial, Helvetica, Verdana, sans-serif;
  font-size: 2.7vw;
  text-transform: uppercase;
  color:#516fbf;
  letter-spacing: 3px;
  font-weight: 300;
}
#period{
  font-size: 3vw;
  letter-spacing: 1px;
  color:#313d67;
}

.stats{
  background-color:Transparent;
  position: relative;
  top: 40px;
  display:block;
  color:#0b1742;
  margin-right: 12vw;
}


.label{
  font-size: 2.2vw;
  font-family: 'Roboto', sans-serif;
  color:#AAABB8;
  font-weight: 400;
}
.stat{
  font-size: 5vw;
  font-family: 'Roboto', sans-serif;
  color:#29648A;
  font-weight: 100;
}
.vl {
  border-right: 3px solid gold;
  width:50%;
  height: 50px;
  left: 50%;
  margin-top:1vw;
}
.middle-block{
  background-image: asset-data-url('top-left-gray.png');
  background-size: cover;
  padding:3vw
}
.all-pictos{
  // margin:12vh 2vh 5vh 2vh;
}
.pictos{
  height:30vw;
}
.photos{
  width:7vw;
  height:7vw;
}

.text{
  padding:.2vw;
  color:#ffffff;
  font-family: 'Lato';
  font-size: 1.4vw;
  font-weight: 300;
  letter-spacing: 0.05em;
}
.big-text{
  letter-spacing: 0.0625em;
  margin:3vw;
  color:#ffffff;
  font-family: 'Lato';
  font-size: 2.2vw;
  font-weight: 400;
}
.learn-link{
  font-family: 'Lato';
  letter-spacing: 0.05em;
  font-size:1.4vw;
  color: gold;
  margin:3vw;
}
.bottom-box{
  background-image: asset-data-url('top-left-gray.png');
  background-size: cover;
  background-position: 30% 30%;
  padding:8vw;
}
#market_button{
  background:    #3d85c6;
  background:    -webkit-linear-gradient(#3d85c6, #073763);
  background:    linear-gradient(#3d85c6, #073763);
  border-radius: 5px;
  padding:       8px 20px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal 700 26px/1 "Calibri", sans-serif;
  text-align:    center;
  text-shadow:   1px 1px #000000;
  margin-top: 3vw;
}
#payButton{
  background:    #3d85c6;
  background:    -webkit-linear-gradient(#3d85c6, #073763);
  background:    linear-gradient(#3d85c6, #073763);
  border-radius: 5px;
  padding:       8px 20px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal 700 20px/1 "Calibri", sans-serif;
  text-align:    center;
  text-shadow:   1px 1px #000000;
}
.push{
height:20vw;
}
.footer{
  background-color: #399bce;
  display:block;
  height:20vw;
}
.footer-link{
  color:#111416;
  font-family: 'Lato';
  font-size: 1.4vw;
  font-weight: 300;
  letter-spacing: 0.05em;
}
.footer-words{
  color:#ffffff;
  font-family: 'Lato';
  font-size: 1.5vw;
  font-weight: 300;
  letter-spacing: 0.05em;
}
.contact-header{
  font-size:2vw;
  font-family:'Merriweather';
  font-weight:400;
}
.contact-info{
  font-size:1.5vw;
  font-family:'Merriweather'
}

.parallax {
    background-image:url("blue-mountain.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:-10%;
}
// @media only screen and (max-width: 800px) {
//   .parallax {
//       background-image: url("https://i.imgur.com/RAqrWSz.jpg");
//       height: 400px;
//       /* Create the parallax scrolling effect */
//       background-attachment: fixed;
//       background-repeat: no-repeat;
//       background-size: cover;
//       margin-top:-10%;
//   }
//   #about-header{
//     margin-top: -8vw;
//   }
//   #about_para{
//     font-size:2vw !important;
//   }
//   .team-text{
//     font-size:1.7vw !important;
//   }
// }
#about-header{
  background-color:Transparent;
  position: relative;
  top: 200px;
  left: 40%;
  font-size: 3.5vw;
  text-shadow: 1px 1px lightgray;
  font-weight: 900;
  display:block;
  color:#0b1742;
}
#about_para{
  background-image: url('top-left-gray.png');
  background-size: cover;
  font-size:1.5vw;
  font-style: 'Lato';
  color:#111416;
  padding:1.1vw;
}
.word-box{
  margin:5vw 15vw 5vw 15vw;
}
#team-header{
  font-style: 'Lato';
  font-size: 3.5vw;
  text-shadow: 1px 1px lightgray;
  color:#25274d;
  padding-top: 0%;
}
.about-row{
  margin:0vw 10vw 0vw 10vw;
}
.team-pic{
  border-radius:50%;
  height:25vw;
  width:25vw;
  margin:2vw 0vw 2vw 0vw;
}
.about-box{
  margin-top:80px;
  // border:1px solid black;
  border-radius: 10px;
  background-color: rgba(234,234,234,0.4);
  box-shadow: 1px 2px 2px #AAABB8;
}
.team-header-text{
  font-size: 2.5vw;
  font-family: 'Lato';
  letter-spacing: 0.06em;
  font-weight: 400;
}
.team-text{
  font-size: 1.5vw;
  font-family: 'Roboto';
  letter-spacing: 0.06em;
  font-weight: 300;
}
#about-team-box{
  background-image: url('bottom-right-gray.png');
  background-size: cover;
}
#service-header{
  height:10vw;
  background-color:#AAABB8;
}
#service-title{
  color:#0b1742;
  font-size: 4vw;
  font-family: 'Lato';
  letter-spacing: 0.06em;
  font-weight: 300;
  margin-left: 15vw;
  margin-top: 2vw;
  float:left
}
#service-intro{
  background-image: url('top-left-gray.png');
  background-size: cover;
  background-position: 0% 50%;
  padding:10vw 25vw 5vw 25vw;
  letter-spacing: 0.06em;
  font-weight: 100;
  color:#333333;
  font-size: 1.7vw;
  font-family: 'Roboto';
}
.service-picto{
  width:4vw;
  height:4vw;
}
.service-header{
  padding-top:5vw;
  margin:3vw;
  font-size: 2.5vw;
  font-family: "Lato";
  letter-spacing: 1px;
  font-weight: 300;
}
.service-blurb{
  margin-left: 3vw;
  color:#333333;
  font-size: 1.3vw;
  letter-spacing: 0.06em;
  font-weight: 300;
  font-family: "Roboto";

}
.service-point{
  color:#333333;
  margin:1vw;
  font-size: 1.3vw;
  font-size: 1.3vw;
  letter-spacing: 0.06em;
  font-weight: 300;
  font-family: "Roboto";
}
#construction-background{
  background: url('https://i.imgur.com/h35ZCBo.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
}
.coming{
  color:white;
  font-style:italic;
}

@import url(https://fonts.googleapis.com/css?family=Lato:900);
*, *:before, *:after{
  box-sizing:border-box;
}
body{
  font-family: 'Lato', sans-serif;
    ;
}
div.foo{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.letter{
  display: inline-block;
  font-weight: 900;
  font-size: 6em;
  margin: 0.2em;
  position: relative;
  color: #00B4F1;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.letter, .letter:before, .letter:after{
  transition: all 0.3s ease-in-out;
}
.letter:before{
  color: #fff;
  text-shadow:
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.letter:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}

#email-btn:active {
  background-color: lightgray;
  box-shadow: 0 5px #666;
  transform: translateY(1px);
  outline:0;
}
#email-btn {
  outline:0;
  border:1px solid gray;
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}
