/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 *= require c3
 *= require flipclock

 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 html,body
 {
     width: 100%;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;
 }

 .gray-border{
   background-color:lightgray;
   // height:100%;
   position: relative;
   display:block;
 }
 .card {
  color: black;
  margin: -15px;
}
.edit-card{
  color: black;
  // background-image: url('https://i.imgur.com/XnnIvP9.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
  padding:10px;
  border: 2px solid lightgray;
  border-radius: 15px;
}
.edit-row{
  margin:3vw;
}
.all-items{

}
.edit-order{
  margin:5vw;
}
.clock{
  zoom:45%;
}
#clock{
  zoom:45%;
}
#small-clock{
  zoom:35%;
}

.bulk_order_link{
font: bold 11px Arial;
background-color: Transparent;
 background-repeat:no-repeat;
 border: none;
 cursor:pointer;
 overflow: hidden;
 outline:none;
 border-radius: 15px;
padding: 5px 6px 5px 6px;
border-top: 1px solid #CCCCCC;
border-right: 1px solid #333333;
border-bottom: 1px solid #333333;
border-left: 1px solid #CCCCCC;
width:90%;
font-size: 1.3vw;
}
.bulk_order_link:hover {
  background: #3cb0fd;
  background-color: lightgray;
  text-decoration: none;
}
.bulk_order_link a:hover {
  background: #3cb0fd;
  background-color: lightgray;
  text-decoration: none;
  color:#4a86c3;
}
#oil-pic{
  background-image: url('https://i.imgur.com/v4KWkqR.jpg');
  background-size: cover;
   margin-left: -100px;
   margin-right: -100px;
   padding:10px;
   height: 90vh;
   width: 120%;
   z-index: -99;
   position:fixed;
}
#item_header{
  z-index: -1;
  position: fixed;
  vertical-align: middle;
  color:lightgray;
  margin-left: 19vw;
}
#item_bottom_header{
  z-index: -1;
  position: fixed;
  vertical-align: middle;
  color:lightgray;
  margin-left: 19vw;
  margin-top: 6vw;
}
.oil-image{
  margin-left:1vw;
}
.c3-chart-arcs-title{
  font-size: 15px;
}
.pie{
  margin: 12vw;
}

.text{
  /* background-image:    url('https://i.imgur.com/8wTAGcx.jpg');
  border-radius: 10px; */
  padding:1vw;
}
.signup-form{
  margin:1vw
}

.navbar_link{
  width: 100%;
  margin: 0 auto;
}
.navbar_link a:hover,a:active,a:visited
{
  text-decoration: none;
  color: #4a86c3;
  background-color:#f8f8f8;
}
.nav-link{
  margin-top:5vh;
  font-size: 1.5vw;
}
.nav-link a{
  color:#fff;
}
.nav-link a:hover{
  background-color: #516fbf;
  color:#fff;
  padding-bottom: 1vh;
  border-bottom: 2px solid white;
}

#myCarousel {
  margin:0;
}
.item{
  width:100%;
}
.caption-animate .item {
  &.active .carousel-caption {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    &.infinite {
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
    }
    &.hinge {
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
    }
    &.flipOutX, &.flipOutY, &.bounceIn, &.bounceOut {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
    }
  }
  .carousel-caption {
    &.fadeIn, &.fadeInDown, &.fadeInDownBig, &.fadeInLeft, &.fadeInLeftBig, &.fadeInRight, &.fadeInRightBig, &.fadeInUp, &.fadeInUpBig {
      opacity: 0;
    }
  }
}
.carousel-text{
  padding:1vw;
  background: rgba(51,51,51,.3);
  font-size: 2.5vw;
  padding:1vw;
  position:relative;
}
.carousel-text2{
  position:relative;
  padding:1vw;
  background: rgba(51,51,51,.3);
  font-size: 2.5vw;
}
.delay1{
  animation-delay: .5s;
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -o-animation-delay: .5s;
  -moz-transition: none !important;
}
.delay2{
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -moz-transition: none !important;
}

.tagline{
  height:60vh;
  background:#d6dce2;
  // margin-top:-5vh;
}
#tag_words{
  font-family:"Lato", Arial, Helvetica, Verdana, sans-serif;
  font-size: 2.7vw;
  text-transform: uppercase;
  color:#516fbf;
  letter-spacing: 3px;
  font-weight: 300;
}
#period{
  font-size: 3vw;
  letter-spacing: 1px;
  color:#313d67;
}

.stats{
  background-color:Transparent;
  position: relative;
  top: 40px;
  display:block;
  color:#0b1742;
  margin-right: 12vw;
}
.label{
  font-size: 3vw;
  font-family:"Merriweather";
  color:#313d67;
  font-weight: 300;
}
.stat{
  font-size: 2.5vw;
  font-family:"Merriweather";
  color:red;
  font-weight: 300;
}


.all-pictos{
  margin:12vh 2vh 5vh 2vh;
}
.pictos{
  // background-image:    url('https://i.imgur.com/8wTAGcx.jpg');
  border-radius: 10px;
}
.photos{
  width:7vw;
  height:7vw;
}
.text{
  color:#66839c;
  font-family:"Merriweather";
  font-size: 1.3em;
}
#market_button{
  background:    #3d85c6;
  background:    -webkit-linear-gradient(#3d85c6, #073763);
  background:    linear-gradient(#3d85c6, #073763);
  border-radius: 5px;
  padding:       8px 20px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal 700 26px/1 "Calibri", sans-serif;
  text-align:    center;
  text-shadow:   1px 1px #000000;
}
#payButton{
  background:    #3d85c6;
  background:    -webkit-linear-gradient(#3d85c6, #073763);
  background:    linear-gradient(#3d85c6, #073763);
  border-radius: 5px;
  padding:       8px 20px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal 700 20px/1 "Calibri", sans-serif;
  text-align:    center;
  text-shadow:   1px 1px #000000;
}
.contact{
  height:30vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://i.imgur.com/RAqrWSz.jpg');
  display:block;
}
.contact-header{
  font-size:2vw;
  font-family:'Merriweather';
  font-weight:400;
}
.contact-info{
  font-size:1.5vw;
  font-family:'Merriweather'
}

#about-header{
  background-color:Transparent;
  position: relative;
  top: 200px;
  left: 40%;
  font-size: 3.5vw;
  text-shadow: 1px 1px lightgray;
  font-weight: 900;
  display:block;
  color:#0b1742;
}
#about_para{
  height:60vh;
  background-color:#dadfeb;
  font-size:1.5vw;
  color:#515151;
  padding:0vw 5vw 0vw 5vw;
  margin-bottom: -5vw;
}
#about_sentance{
  margin:5vw;
}
#team-header{
  background-color:Transparent;
  position: relative;
  top: 80px;
  left: 35%;
  font-size: 3.5vw;
  text-shadow: 1px 1px lightgray;
  font-weight: 900;
  display:block;
  color:#0b1742;
}
.team-member1{
  background-color:Transparent;
  position: relative;
  top: 80px;
  left: 5%;
  display:block;
  color:#0b1742;
  margin-right: 12vw;
}
.team-member2{
  background-color:Transparent;
  position: relative;
  top: 280px;
  left: 0%;
  display:block;
  color:#0b1742;
  margin-bottom:8vh;
}
.team-pic{
  border-radius:50%;
  height:25vw;
  width:25vw;
  margin-top:5vh;
}
.about-box{
  margin-top:10vh;
  border:1px solid black;
  border-radius: 10px;
  background-color: rgba(234,234,234,0.4);
}
.team-text{
  font-size:1.7vw;
  font-weight:400;
}

#service-header{
  margin-top: 10vh;
  height:10vw;
  background-color:#dadfeb;
}
#service-title{
  color:#0b1742;
  font-size: 4vw;
  font-family: 'Merriweather';
  margin-left: 5vw;
  margin-top: 2vw;
  float:left
}
#service-intro{
  margin:5vw 25vw 1vw 25vw;
  color:#515151;
  font-size: 1.7vw;
  font-family: 'Merriweather';
}
.services{
  margin:5vw;
}
.service-picto{
  width:4vw;
  height:4vw;
}
.service-header{
  font-size: 2.5vw;
  font-family: "Lato";
  letter-spacing: 1px;
}
.service-blurb{
  color:#515151;
  font-size: 1.3vw;
}
.service-point{
  color:#515151;
  margin:1vw;
  font-size: 1.3vw;
  list-style-type: square;
}

// .flip-clock-label
// {
//     display: none;
// }
